@import "bourbon/bourbon";

@import "codemirror.scss";

#prog-editor {
  & .code-container {
  }

  & .ui {
    position: absolute;
    left: 12px; top: 12px;

    & svg {
      float: left;
      margin-right: 3px;
      fill: #000; stroke: #fff; stroke-width: 2px;
      cursor: pointer;
    }
  }

  & .CodeMirror {
    position: absolute;
    left: 30px; right: 50%; top: 30px; bottom: 30px;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    color: white;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1em;
    text-shadow: #000 0px 1px 3px;

    &:hover {
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-out);
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
      background-color: rgba(24, 28, 22, 0.8);
    }

    & .error {
      color: #f00;
    }
  }
  & .CodeMirror-scroll {
    height: 100%;
  }
  & .CodeMirror-cursor {
    border-left: 1px solid #fff;
  }
  & .CodeMirror-selected {
    background: #443;
  }

  &.error {
    & textarea {
      color: #f00;
    }
  }
}
