@import "bourbon/bourbon";

@import "codemirror.scss";

.prog-editor {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;

  & .code-container {
  }

  & .ui {
    position: absolute;
    left: 12px; top: 12px;

    & > div {
      float: left;
      margin-right: 5px;

      &.disabled {
        & svg {
          stroke: #998;
        }
        & input {
          color: #998;
          border-color: #998;
        }
      }
    }

    & svg {
      fill: #000; stroke: #fff; stroke-width: 2px;
      cursor: pointer;

      &:hover {
        fill: #025;
      }
    }

    & input {
      background: #000;
      color: #fff;
      border: 2px solid #fff;
      margin-top: 1px;
      margin-bottom: 1px;
      padding: 0 10px 0 10px;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background: #025;
      }
    }
  }

  & .CodeMirror {
    position: absolute;
    left: 30px; top: 30px; bottom: 30px;
    min-width: 40em;
    max-width: -webkit-calc(100% - 80px);
    max-width: -moz-calc(100% - 80px);
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    color: white;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1em;
    text-shadow: #000 0px 1px 3px;

    &:hover {
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-out);
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
      background-color: rgba(26, 28, 24, 0.8);
    }

    & .error {
      color: #f00;
    }
  }
  & .CodeMirror-scroll {
    height: 100%;
  }
  & .CodeMirror-cursor {
    border-left: 1px solid #fff;
  }
  & .CodeMirror-selected {
    background: #443;
  }

  &.error {
    & textarea {
      color: #f00;
    }
  }
}
