@import "bourbon/bourbon";

#prog-editor {
  & .code-container {
    position: absolute;
    left: 30px; top: 30px; bottom: 30px;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;

    &:hover {
      @include transition-duration(0.1s);
      @include transition-timing-function(ease-out);
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px 0px 6px);
      background-color: rgba(24, 28, 22, 0.8);
    }
  }

  & .ui {
    position: absolute;
    left: 12px; top: 12px;

    & svg {
      float: left;
      margin-right: 3px;
      fill: #000; stroke: #fff; stroke-width: 2px;
      cursor: pointer;
    }
  }

  & textarea {
    margin: 0;
    border: 0;
    outline: none;
    resize: none;
    height: 100%;
    color: white; background-color: transparent;
    font-family: Monospace;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
    text-shadow: #000 0px 1px 3px;
  }

  &.error {
    & textarea {
      color: #f00;
    }
  }
}
