html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}

body {
  overflow: hidden;
  background-color: #000;

  &.popped {
    background-color: #333;
  }
}

#gl-canvas {
  position: absolute;
  width: 100%; height: 100%;
}
