<!DOCTYPE html>
<html>
<head>
  <title>Yet.Another.Shader.Editor.</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link href="css/toy.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="css/editor.css" media="all" rel="stylesheet" type="text/css"/>
<% if(env == "production") { %>
  <script src="src/main-built.js"></script>
<% } else { %>
  <script data-main="src/main.js" src="lib/require.js"></script>
<% } %>
</head>
<body>
<canvas id="gl-canvas"></canvas>
</body>
</html>
