#prog-editor .code-container {
  position: absolute;
  left: 30px;
  top: 30px;
  bottom: 30px;
  padding: 20px 10px 10px 10px;
  border-radius: 5px; }
  #prog-editor .code-container:hover {
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -ms-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 6px;
    background-color: rgba(24, 28, 22, 0.8); }
#prog-editor .ui {
  position: absolute;
  left: 12px;
  top: 12px; }
  #prog-editor .ui svg {
    float: left;
    margin-right: 3px;
    fill: #000;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer; }
#prog-editor textarea {
  margin: 0;
  border: 0;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  color: white;
  background-color: transparent;
  font-family: Monospace;
  font-size: 14px;
  font-weight: bold;
  white-space: pre-wrap;
  text-shadow: #000 0px 1px 3px; }
#prog-editor.error textarea {
  color: #f00; }
